@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    After school, many people decide to continue their learning at a university.

    A bit like at school, universities allow you to gain a qualification in a subject you’ve chosen to study. At university though, these qualifications – called degrees – are at a higher level, in fact pretty much the highest you can get. With one of them under your belt, you’ll be able to aim for all sorts of jobs that you wouldn’t be able to otherwise.
</p>
